/* Toolbar Icon */
#bottom-browser-icon {
    background: url(bottom-sprite.svg);
}

#bottom-browser-icon.active {
    background-position: 0 -24px !important;
}

/* Bottom Browser Panel */
#bottom-browser-iframe {
    background: #fff;
}

#bottom-browser-search {
    margin: 0;
    min-width: 300px;
}

.bookmark {
    margin: 0 0 0 10px;
    position: relative;
    top: 2px;
}