/* Toolbar Icon */
#bottom-browser-icon {
    background: url(bottom-sprite.svg);
}

#bottom-browser-icon.active {
    background-position: 0 -24px !important;
}

/* Bottom Browser Panel */
#bottom-browser-iframe {
    background: #DFE2E2;
}